on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - main
  workflow_dispatch:

name: branch

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Cache
        uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .npmrc
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Typecheck
        run: yarn run typecheck

      - name: Lint
        run: yarn run lint

      - name: Prettier
        run: yarn run prettier:test

      - name: Test
        run: yarn run test
